@import url('http://fonts.googleapis.com/css?family=Arvo:700|Open+Sans:400italic,400');
@import url('http://fast.fonts.com/cssapi/95b765fd-fae4-4f1b-8155-d8244914a5c6.css');

body {
    margin: 0;
    padding: 0;
    background-image:url(../images/metaverse.png);
    background-attachment: fixed;
    font-family: 'Open Sans','Frutiger','Arial','sans-serif';
}

h1, h2 {
    font-family: 'Adelle W01 Bold','Arvo','Georgia','serif';
}

h2 {
    font-size: 2.5em;
    color: #dd3b2a;
}

a {
    font-weight: bold;
    color: #dd3b2a;
    text-decoration: none;
}

.header {
    height: 492px;
    background-color: (255,255,255,0);
}

.header h1 {
    font-size: 5em;
    text-align: center;
    color: #fff;
}

.header p {
    width: 45%;
    padding-left: 50%;
    padding-top: 40px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;   
}

.main {
    background-color: #fff;
    opacity: 0.7;
    border-top: 5px solid #dd3b2a;
    width: 100%;
    overflow: hidden;
}

.definition {
    width: 45%;
    padding: 20px;
    float: left;
}

.howitwork {
    width: 45%;
    padding: 20px;
    float: right;
}


.supporting {
    background-color: #edf6ff;
    border-top:5px solid #cce4fb ;
    padding-bottom: 1em;
    width: 100%;
    overflow: hidden;
}

.supporting .content {
    background-image: url(../images/conference.png),url(../images/avatar.png);
    background-repeat: no-repeat;
    background-position: 900px 150px, 20px 700px;
}

.whoplayer {
    width: 45%;
    padding: 20px;
}

.willhappen {
    width: 45%;
    padding: 20px;
    float: right;
}

.summary {
    background-color: #fff;
    opacity: 0.7;
    border-top: 5px solid#cce4fb;
    padding-bottom: 1em;
    overflow: hidden;
}

.whydothis {
    padding: 20px;
}

.whydothis h2 {
    text-align: center;
}



.whydothis p {
    width: 45%;
    float: left;
}

.whydothis p + p {
    float: right;
}

.content {
    width: 80%;
    display: block;
    margin: auto;
    overflow: hidden;
}



